@model Livro
@{
    ViewData["Title"] = "Apagar Confirmação";
}
<div class="text-center">
    <h1>
        Deseja realmente apagar o livro @Model.Nome ?
    </h1>
    <a role="button" class="btn btn-secondary" asp-controller="Livro" asp-action="Index">Voltar</a>
    <a role="button" class="btn btn-danger" asp-route-id="@Model.Id" asp-controller="Livro"
        asp-action="Apagar">Excluir</a>
</div>