@model Livro
@{
    ViewData["Title"] = "Editar";
}
<h4>Livro</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-controller="Livro" asp-action="Index"> <i class="fa fa-arrow-alt-circle-left"></i> Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-controller="Livro" asp-action="Alterar" method="post">
            <div hidden>
                <input asp-for="Id" />
            </div>
            <div class="card">
                <div class="card-header">Informações do livro</div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md">
                            <label asp-for="Autor" class="control-label"></label>
                            <input asp-for="Autor" class="form-control" />
                            <span asp-validation-for="Autor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label asp-for="Editora" class="control-label"></label>
                            <input asp-for="Editora" class="form-control" />
                            <span asp-validation-for="Editora" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group col-md">
                            <label asp-for="AnoPublicacao" class="control-label"></label>
                            <input id="anoPublicacaoAsp" asp-for="AnoPublicacao" class="form-control" />
                            <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Ano de publicação</label>
                            <select id="anoPublicacao" onchange="setDataPublicacao()" class="form-control">
                                <option value="AnoNaoSelecionado">Selecione um ano</option>
                                @for (int x = DateTime.Now.Year; x >= 1500; x--)
                                {
                                    <option value="@x">@x</option>
                                }
                            </select>
                            <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Alterar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        document.getElementById('anoPublicacao').value = '@ViewBag.anoPublicacao';

        function setDataPublicacao() {
            document.getElementById('anoPublicacaoAsp').value = document.getElementById('anoPublicacao').value + '-01-01T00:00';
        }
    </script>
}